
<container>
  <row>
      <columns class="header-bottom-border" small="12" large="12"></columns>
  </row>
  <spacer size="20" ></spacer>
    <row >
            
              <columns  small="11" large="11">
                
                  <center>
                      
                    <p class="footer">
                      You are receiving this email because you recently started a purchase with&nbsp;23andMe.
                      <br>
                      © 2007-2017 23andMe‚ Inc. 899 W. Evelyn Avenue‚ Mountain View‚&nbsp;CA&nbsp;94041‚&nbsp;USA.
                      <br>
                      <a href="https://23andme.com/" style="text-decoration: #929292,underline !important;">
                        unsubscribe from 23andMe news and updates emails
                      </a>
                    </p>
                  </center>
                
              
             
            </columns>
           
                
    </row>
    
    
</container>

